{{outlet}}
<div id="materias" class="container" style="padding-bottom: 25px;">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="panel-heading text-center">
        <span>Lista de materias</span>
        <span class="pull-right">
          {{link-to 'Ocultar' 'index' }}
        </span>
      </div>
      <div class="col-md-12">
        {{#each model as |question|}}
          <div class="col-md-12 form-group">
            <div class="col-md-4">{{question.name}} </div>
            <div class="col-md-6">
              <select class="form-control" onchange={{action 'setAnswer' question}}>
                {{#each question.options as |option|}}
                  <option value="{{option}}">{{option}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        {{/each}}
      </div>
      <div class="col-md-12">
        <button class="btn btn-success pull-right" type="button" {{action "confirmarIncripcion"}}>Confirmar</button>
      </div>
    </div>
  </div>
</div>